<aside class="menu" id="menu">
    <ul class="menu-ul">
        <li class="menu-li" has-permission="2,12, 36, 22">
            <a class="menu-li-a" href="#"><i class="fa fa-pencil-square-o"></i>Cadastro</a>
            <ul class="menu-submenu" id="menu-auditoria">
                <li class="menu-li" has-permission="2">
                    <a href="#/clientes/novo"><i class="fa fa-user"></i>Clientes</a>
                </li>
                <li class="menu-li" has-permission="12">
                    <a href="#/projetos/novo/"><i class="fa fa-book"></i>Projetos</a>
                </li>
                <!--li class="menu-li" has-permission="36">
                    <a href="#/servicos/novo"><i class="fa fa-cogs"></i>Servi&ccedil;os</a>
                </!li-->
                <li class="menu-li" has-permission="22">
                    <a href="#/entregas/novo"><i class="fa fa-bullseye"></i>Entregas</a>
                </li>
            </ul>
        </li>
        <li class="menu-li" has-permission="10,20,44,34">
            <a class="menu-li-a" href="#"><i class="fa fa-search"></i>Pesquisa</a>
            <ul class="menu-submenu">
                <li class="menu-li" has-permission="10">
                    <a href="#/clientes"><i class="fa fa-user"></i>Clientes</a>
                </li>
                <li class="menu-li" has-permission="20">
                    <a href="#/projetos"><i class="fa fa-book"></i>Projeto</a>
                </li>
                <!--li class="menu-li" has-permission="44">
                    <a href="#/servicos"><i class="fa fa-cogs"></i>Servi&ccedil;os</a>
                </li-->
                <li class="menu-li" has-permission="34">
                    <a href="#/entregas"><i class="fa fa-bullseye"></i>Entregas</a>
                </li>
            </ul>
        </li>
        <li class="menu-li" has-permission="46">
            <a class="menu-li-a" href="#/calendario"><i class="fa fa-calendar"></i>Calend&aacute;rio</a>
        </li>
    </ul>
</aside>
